.header {
    background-color: #4a4a4a;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 25px;
}

.header a {
    border: none;
    color: blanchedalmond;
    padding: 5px;
    margin: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px solid;
}

.header h1 {
    text-align: center;
}
